@media only screen and (min-width: 720px) {
   
    .container{
        margin: 0 auto;
    }

    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
        padding: 10px;
        width: 500px;
        height: 540px;
        background-color:white;
        border-radius: 10px;
    }
        .input {
            width: 400px;

        }
    h1{
        text-align: center;
        color:indigo;
        font-family:'Courier New', Courier, monospace;
        font-size: 50px;
        margin-bottom: 5px;
  } 

  .inputLogin{
      width: 380px;
      
  }
 
  button{
     
      margin-top: 30px;
      margin-bottom: 10px;
  }
  .link{
      display: flex;
      justify-content: center;
      
  }
  .botao{
      width: 380px;
      background-image: linear-gradient(to right, indigo, rgb(180, 3, 180));
      border: none;
      border-radius: 10px;
      padding: 10px;
      color: white;
  }
 
  a{
      text-decoration: none;
      color: indigo;
  }


}