@media only screen and (min-width: 720px) {
   
    .container{
        margin: 0 auto;
    }

    .formularioCadastro {
        border: 2px solid lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        padding: 10px;
        width: 500px;
        height: 580px;
        background-color:white;
        border-radius: 10px;
    }
        .input {
            width: 400px;

        }
    

  .inputLogin{
      width: 380px;
      
  }
 
 
  .link{
      display: flex;
      justify-content: center;
      
  }
  .botao{
      width: 380px;
      background-image: linear-gradient(to right, black, firebrick);
      border: none;
      border-radius: 10px;
      padding: 10px;
      color: white;
      margin-top: 30px;
      margin-bottom: 10px;
  }
 
  .link-text{
      text-decoration: none;
      color: firebrick;
  }


}