
    .fundo{
        background-image: linear-gradient(to right, indigo, rgb(117, 4, 117));
    }
    .container{
        margin: 0 auto;
    }

    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        padding: 10px;
        width: 500px;
        height: 540px;
        background-color:white;
        border-radius: 10px;
        border: 2px solid lightgray;
    }
        .input {
            width: 400px;

        }
    .H1-login{
        text-align: center;
        color:firebrick;
        font-family:'Courier New', Courier, monospace;
        font-size: 50px;
        margin-bottom: 5px;
  } 

  .inputLogin{
      width: 380px;
      
  }
 

  .link{
      display: flex;
      justify-content: center;
      
  }
  
  .icon{
      margin-left: 145px;
      margin-bottom: 20px;
  }
  .link-text{
    text-decoration: none;
    color: firebrick;
}


