.BarraDireita{
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 382px;
    height: 550px;
}
.cardDireita {
    width: 350px;
   
}
.BarraDireita h1{
    color: firebrick;
}
.fundo-card{
    background-color: white;
    border-radius: 8px;
    margin-bottom:10px;
    border:2px solid firebrick;
    
}
@media only screen and (max-width: 1376px) {
    .BarraDireita{
        width: 400px;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 992px) {
.BarraDireita{
    display: none;
}
}
