@media only screen and (min-width: 992px) {

.divBar{
    border-bottom: 2px solid indigo ;
    height: 65px;
    background-color:white;
     
}
.busca{
    background-color:lightgray;
    width: 220px;
    height: 45px;
    margin-top: 30px;
    margin-right: 50px;
}
.Login{
    margin-top: 6px;
    font-size: 25px;
    color: indigo;
}
.btBuscar{
    padding: 2;
    margin-bottom: 30px;
    height: 42px;
}


.space{ 
    width: 80%;
}
.logo{
    margin-left: 30px;
    }
}
@media only screen and (max-width: 992px) {
.divBar{
    background-color: none;

}
a{
    color: white;
}
    .space{
    display: none;
}
.Menu{
    height: 70px;
    margin-bottom: 20px;
}
.busca{
    height: 4em;
    margin-top: 20px;
}
}
@media only screen and (max-width: 721px) {
.Menu{
    margin-top: 30px;
}
.btBuscar{
    height: 50px;
    margin-top: 25px;


}
.logo{
margin-bottom: 20px;
}
}