
.page {
    display: flex;
    height: 100vh;
    max-width:1300;
    margin: 0 auto;
    padding: 10px;
    padding-top: 20px;
    padding-inline-end: 10px;
}

.card-body {
    border-bottom: 2px solid grey;
    border: 2px solid black;
}



@media only screen and (max-width: 770px) {
    .page{
            width:700px;
            
        }
        }

